.task {
    display: grid;
    width: 100%;
    grid-template-columns: 1rem 1fr 1.5rem;
    gap: 1rem;
    justify-content: space-between;
    background: var(--gray-500);
    padding: 1rem;
    border-radius: 8px;
}

.task + .task {
    margin-top: 0.5rem;
}

.task p {
    line-height: 1.4;
    max-width: 100%;
    color: var(--gray-100);
}

.task p.lineTrought {
    color: var(--gray-300);
    text-decoration: line-through;
}

.task input[type="checkbox"] {
    visibility: hidden;
    cursor: pointer;
}

.task input[type="checkbox"]::before {
    content: "";
    visibility: visible;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--blue-300);
    line-height: 1.4;
    margin-top: 2px;
}
.task input[type="checkbox"]:checked::before {
    color: var(--gray-100);
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342123L4.09865 4.67406L1.61618 2.19159L0.780273 3.0275L4.09865 6.34587L9.26649 1.17803L8.43059 0.342123Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    background-color: var(--purple-300);
    border-color: var(--purple-300);
}

.task button {
    background: transparent;
    border: 1px solid transparent;
    color: var(--gray-300);
    text-align: center;
    line-height: 0;
    cursor: pointer;
    line-height: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 4px;
}

.task button:hover {
    background-color: var(--gray-400);
    color: var(--danger);
} 