.app {
    max-width: calc(736px + 1rem);
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block-end: 1rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 85px;
    gap: .5rem;
    margin-block-start: calc(-54px / 2);
}



.form input[type="text"] {
    border: 1px solid var(--gray-500);
    background-color: var(--gray-500);
    padding: 1rem;

    color: var(--gray-300);
    line-height: 1.4;
}

.form input[type="text"]:focus {
    border-color: var(--purple-500);
    color: var(--gray-100);
}

.form button {
    background-color: var(--blue-500);
    color: var(--gray-100);
    border: 1px solid var(--blue-500);
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem; 
}

.form button:not(:disabled):hover {
    background-color: var(--blue-300);
}

.form button:disabled {
    cursor: not-allowed;
}

.form button svg {
    vertical-align: middle;
}

.taskList {
    margin-block-start: 4rem;
}

.taskList header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    padding-block-end: 1.75rem;
    
}

.taskList header span {
    background: var(--gray-400);
    color: var(--gray-200);
    font-weight: 700;
    font-size: .75rem;
    padding: 2px 8px;
    border-radius: 10px;
    margin-left: .5rem;
}

.tasksCreated {
    color: var(--blue-300);
}
.tasksFinished {
    color: var(--purple-300);
}

.taskListContent {
    border-block-start: 1px solid var(--gray-400);
    border-radius: 8px;
}

@media (min-width: 767px) {
    .form {
        grid-template-columns: 1fr minmax(95px, 120px);
    } 
}

@media (max-width: 340px) {
    .app {
        padding-inline: 10px;
    }
    .form {
        grid-template-columns: 1fr;
    } 
    .form button {
        line-height: 2rem;
    } 

}